if SHIELD_STAGGERSAURUS_LEFT

config ZMK_KEYBOARD_NAME
    default "Staggersaurus"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_STAGGERSAURUS_LEFT || SHIELD_STAGGERSAURUS_RIGHT

config ZMK_SPLIT
    default y

endif