/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define DEFAULT 0
#define ALT 1
#define GAME 2
#define NAV 3
#define SYMB 4
#define NUMB 5
#define MEDIA 6
#define MOUSE 7

&sk {
  release-after-ms = <500>;
  quick-release;
};

&sl {
  release-after-ms = <500>;
};

// &mmv {
//     time-to-max-speed-ms = <1000>;
//     acceleration-exponent=<1>;
// };

// &mwh {
//     time-to-max-speed-ms = <1000>;
//     acceleration-exponent=<1>;
// };

/ { 

  combos {
      compatible = "zmk,combos";
      combo_esc {
          timeout-ms = <50>;
          key-positions = <33 34>;
          bindings = <&kp ENTER>;
      };
      combo_tab {
          timeout-ms = <50>;
          key-positions = <31 32>;
          bindings = <&kp ESC>;
      };
  };
  behaviors {
    hlt: hold_layer_tap {
      compatible = "zmk,behavior-hold-tap";
      label = "HOLD_LAYER_TAP";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <150>;
      bindings = <&mo>, <&kp>;
    };
    ml: mod_layer {
      compatible = "zmk,behavior-hold-tap";
      label = "MOD_LAYER";
      #binding-cells = <2>;
      flavor = "hold-preferred";
      tapping-term-ms = <150>;
      bindings = <&mo>, <&sk>;
    };
    // mouse_l: mouse_left {
    //   compatible = "zmk,behavior-mod-morph";
    //   label = "MOUSE_LEFT";
    //   #binding-cells = <0>;
    //   bindings = <&mmv MOVE_HOR(-5000)>, <&mmv MOVE_HOR(-2000)>;
    //   mods = <(MOD_LSFT|MOD_RSFT)>;
    // };
    // mouse_r: mouse_right {
    //   compatible = "zmk,behavior-mod-morph";
    //   label = "MOUSE_RIGHT";
    //   #binding-cells = <0>;
    //   bindings = <&mmv MOVE_HOR(5000)>, <&mmv MOVE_HOR(2000)>;
    //   mods = <(MOD_LSFT|MOD_RSFT)>;
    // };
    // mouse_u: mouse_up {
    //   compatible = "zmk,behavior-mod-morph";
    //   label = "MOUSE_UP";
    //   #binding-cells = <0>;
    //   bindings = <&mmv MOVE_VERT(-5000)>, <&mmv MOVE_VERT(-2000)>;
    //   mods = <(MOD_LSFT|MOD_RSFT)>;
    // };
    // mouse_d: mouse_down {
    //   compatible = "zmk,behavior-mod-morph";
    //   label = "MOUSE_DOWN";
    //   #binding-cells = <0>;
    //   bindings = <&mmv MOVE_VERT(5000)>, <&mmv MOVE_VERT(2000)>;
    //   mods = <(MOD_LSFT|MOD_RSFT)>;
    // };
  };

  keymap {
    compatible = "zmk,keymap";
    default_layer {
      bindings = <
        &kp Q        &kp W        &kp E        &kp R        &kp T           &kp Y  &kp U        &kp I        &kp O        &kp QUOT 
        &kp A        &kp S        &kp D        &kp F        &kp G           &kp H  &kp J        &kp K        &kp L        &kp P   
        &hlt MOUSE Z  &kp X        &kp C        &kp V        &kp B           &kp N  &kp M        &kp CMMA     &kp DOT      &mt LC(LS(LG(LALT))) FSLH
                          &tog ALT  &ml NAV LGUI  &ml NUMB LSFT             &mo SYMB  &kp SPACE  &tog GAME
      >;
      sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    // engram
    alt_layer {
      bindings = <
        &kp B  &kp Y  &kp O  &kp U  &kp Z              &kp QUOT  &kp L  &kp D  &kp W  &kp V 
        &kp C  &kp I  &kp E  &kp A  &kp CMMA           &kp DOT  &kp H  &kp T  &kp S  &kp N
        &kp G  &kp X  &kp J  &kp K  &kp FSLH           &kp Q  &kp R  &kp M  &kp F  &kp P
          &tog ALT  &ml NAV LGUI  &ml NUMB LSFT        &mo SYMB  &kp SPACE  &tog GAME

      >;
      sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    game_layer {
      bindings = <
        &kp ESC  &kp Q  &kp W  &kp E  &kp R             &kp T  &kp N1  &kp UP  &kp N2  &kp BKSP 
        &kp TAB  &kp A  &kp S  &kp D  &kp F             &kp G  &kp LEFT  &kp DOWN  &kp RIGHT  &kp ENTER
        &kp LSFT  &kp Z  &kp X  &kp C  &kp V            &kp B  &kp N3  &kp N4  &kp N5  &kp N6
                    &trans  &kp SPC  &kp LCTL           &tog GAME  &kp SPC &trans
        >;
    };

    nav_layer {
      bindings = <
        &kp CAPS  &sk RALT  &key_repeat   &caps_word  &sys_reset            &kp PG_UP     &kp LG(LBKT)    &kp UP          &kp LG(RBKT)    &mkp RCLK 
        &sk LCTL  &sk LALT  &sk LGUI      &sk LSFT    &sk LC(LS(LG(LALT)))  &kp PG_DN     &kp LEFT        &kp DOWN        &kp RIGHT       &kp ENTER
        &kp ESC   &kp TAB   &kp ENTER     &kp SPC     &kp BKSP              &sk GLOBE     &kp LG(LEFT)    &kp LC(MINUS)   &kp LG(RIGHT)   &kp DEL 
                                  &trans  &trans  &trans                    &mo MEDIA  &kp BKSP  &trans
      >;
      sensor-bindings = <&inc_dec_kp DOWN UP &inc_dec_kp RIGHT LEFT>;
    };
      
    symbols_layer { // doubles / ? < > ' " (semi/colon to default?)
      bindings = <  
        &kp PRCT  &kp DLLR  &kp HASH    &kp ATSN  &kp STAR        &kp CRRT    &kp DQT   &kp GRAV    &kp QUOT   &kp TILDE
        &kp PIPE  &kp AMPS  &kp QMARK   &kp BANG  &kp PLUS        &kp COLON   &kp MINUS  &kp UNDER   &kp EQUAL   &kp SEMI
        &kp LT    &kp LBKT  &kp LPAR    &kp LBRC  &kp BSLH        &kp FSLH    &kp RBRC  &kp RPAR    &kp RBKT    &kp GT
                                &trans  &kp LGUI  &kp LSFT        &trans  &mo MEDIA  &trans
      >;
      sensor-bindings = <&inc_dec_kp LS(LG(Z)) LG(Z) &inc_dec_kp TAB LS(TAB)>;
    };	

    number_layer {
      bindings = <
        &kp CAPS  &kp RALT  &key_repeat   &caps_word  &kp STAR       &kp MINUS  &kp N1  &kp N2  &kp N3  &kp CMMA
        &kp LCTL  &kp LALT  &kp LGUI      &kp LSFT    &kp PLUS       &kp COLON  &kp N4  &kp N5  &kp N6  &kp ENTER 
        &kp ESC   &kp TAB   &kp ENTER     &kp SPC     &kp BKSP       &kp EQUAL  &kp N7  &kp N8  &kp N9  &kp DOT   
                                  &trans  &mo MEDIA  &trans          &kp N0  &kp BKSP  &trans
      >;
      sensor-bindings = <&inc_dec_kp RIGHT LEFT &inc_dec_kp PG_DN PG_UP>;
    };

    media_layer {
      bindings = <
        &kp F1  &kp F2    &kp F3    &kp F4    &bt BT_CLR            &kp C_BRI_UP  &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &tog GAME
        &kp F5  &kp F6    &kp F7    &kp F8    &bt BT_PRV            &kp C_BRI_DN  &kp LSFT      &kp LGUI    &kp LALT      &kp LCTL 
        &kp F9  &kp F10   &kp F11   &kp F12   &bootloader           &sys_reset    &kp C_PREV    &kp C_PP    &kp C_NEXT    &tog ALT   
                        &trans  &bt BT_SEL 0 &bt BT_NXT             &kp ENTER  &trans  &trans
      >;
      sensor-bindings = <&inc_dec_kp C_BRI_UP C_BRI_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    // mouse_layer {
    //   bindings = <
    //     &tog  MOUSE  &kp RALT  &kp LC(LEFT)  &kp LC(RIGHT)  &kp LC(UP)        &kp PG_UP  &mwh SCROLL_VERT(-40)  &mouse_u  &mkp MCLK  &mkp MB5 
    //     &kp LCTL  &kp LALT  &kp LGUI  &kp LSFT  &kp SPC                       &kp PG_DN  &mouse_l  &mouse_d  &mouse_r  &tog MOUSE
    //     &kp ESC  &kp LC(DOWN)  &kp LG(C)  &kp LG(V)  &kp BKSP                 &kp LC(UP)  &mwh SCROLL_VERT(40)  &mwh SCROLL_HOR(40)  &mwh SCROLL_HOR(-40)  &mkp MB4 
    //                                 &trans  &trans                            &mkp RCLK  &mkp LCLK
    //   >;
    // };
    mouse_layer {
      bindings = <
        &tog  MOUSE  &kp RALT  &kp LC(LEFT)  &kp LC(RIGHT)  &kp LC(UP)        &kp PG_UP  LC(LS(LG(LA(SPACE))))  &kp N8  &mkp MCLK  &mkp MB5 
        &kp LCTL  &kp LALT  &kp LGUI  &kp LSFT  &kp SPC                       &kp PG_DN  &kp U  &kp K  &kp O  &tog MOUSE
        &kp ESC  &kp LC(DOWN)  &kp LG(C)  &kp LG(V)  &kp BKSP                 &kp LC(UP)  &trans  &trans  &trans  &mkp MB4 
                                    &trans  &trans                            &mkp RCLK  &mkp LCLK
      >;
    };
  };
};
